/* Highlights top level and quoted post if the top level post is filtered */
article:has(.xp-userlists-filter1) {
    background-color: #ff000040;
}

article:has(.xp-userlists-filter2) {
    background: linear-gradient(#5ca0d240 0% 12.5%,
            #9ed3df40 12.5% 25%,
            #f4f49340 25% 37.5%,
            #ffffff40 37.5% 62.5%,
            #f4f49340 62.5% 75%,
            #ffb8c540 75% 87.5%,
            #cc5d7e40 87.5% 100%);
}

/* Highlights quoted post if the quoted post is filtered */
.xp-quoted-post+*:has(.xp-userlists-filter1-quote)>* {
    background-color: #ff000040;
}

.xp-quoted-post+*:has(.xp-userlists-filter2-quote)>* {
    background: linear-gradient(#5ca0d240 0% 12.5%,
            #9ed3df40 12.5% 25%,
            #f4f49340 25% 37.5%,
            #ffffff40 37.5% 62.5%,
            #f4f49340 62.5% 75%,
            #ffb8c540 75% 87.5%,
            #cc5d7e40 87.5% 100%);
}

/* Unhighlights quoted post if the quoted post is unfiltered */
.xp-quoted-post+ :not(:has(.xp-userlists-filter1-quote, .xp-userlists-filter2-quote))>* {
    background-color: black;
}