.xp-userinfo-container {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
}

.xp-userinfo-child {
    background-color: #202327;
    border-radius: 4px;
    font-family: "TwitterChirp";
    font-size: 11px;
    margin-left: 4px;
    padding: 2px 4px;
    text-decoration: none;
}

.xp-rich-text-editor {
    line-height: 0px;
}

.xp-rich-text-editor>button {
    background-color: transparent;
    padding: 0px 2px;
    margin-right: 2px;
    border: solid 1px #444;
    font-size: 14px;
}

.xp-quote-count {
    flex: 1;
    font-family: "TwitterChirp";
    line-height: 20px;
    text-decoration: none;
    color: #71767b;
    font-size: 13px;
    margin: auto;
}

.xp-quote-count::before {
    content: "Q ";
    font-size: 16px;
    vertical-align: bottom;
}

.xp-filtered {
    color: #b8babd;
    margin-left: 4px;
    font-family: "TwitterChirp";
    font-size: 15px;
    align-self: center;
}

#xp-ui-root {
    border: 0;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);
}

.xp-tag {
    display: none;
}